{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-trailing-spaces": "off",
    "no-multiple-empty-lines": "off",
    "no-plusplus": "off",
    "no-mixed-operators": "off",
    "radix": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off"
  }
}
